body{
    margin: 0px;
    padding: 0px;
    font-size: 16px;
}

  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');

@font-face {
    font-family: Classique-Saigon;
    src: url(Classique-Saigon.ttf) format('truetype');
}

.container{
    width: 100%;
    height: 100%;
}

/*.grid-container{
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat (12, 1fr);
    grid-template-rows: repeat(auto-fill, 15vh);
}*/

.homepage{
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    top:0;
    height: 100vh;
    background-color: #f1efe3;
    grid-area: 1 / 1 / 7 / 13;
    scroll-snap-type: x mandatory;
}

.order-number{
    grid-area:2/2/3/3;
    font-family: "Classique-Saigon";
    font-size: 3rem;
}

.order-name{
    grid-area:3/2/5/3;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    font-family: "Open Sans";
    font-size: 1rem;
    justify-self: end;
    line-height: 0px;
}

.order-block{
    grid-area:2/1/3/3;
    background-color: #e32226;
}

.homepage-title{
    grid-area:2/3/3/span 6;
    font-family: "Classique-Saigon";
    font-size: 5rem;
}

.homepage-statement{
    grid-area:3/9/4/11;
    text-align:left;
    font-family: "Open Sans";
    font-size: 2rem;
    text-align: right;
}

.homepage-pic{
    grid-area: 2/5/7/span 4; 
    align-self: end;
    margin-bottom:0px;
    padding-bottom:0px;
}
.nav{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin-top: 20px;
    /*grid-area: 1/11/2/12;*/
}

ul {
    list-style-type: none;
}

.about-me{
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: 100vh;
    background-color: #151313;
    grid-area: 7/1/13/13;
}

.about-me{
    color: #ffffff;
}

.my-work{
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat (12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: 100vh;
    background-color: #f1efe3;
    grid-area: 13/1/19/13;
}

.contact{
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat (12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: 100vh;
    background-color: #151313;
    grid-area: 19/1/25/13;
}